.subject footer .bottom .left {
    width: min-content;
}

.subject footer .bottom .left svg {
    fill: var(--paste-green);
    margin-right: 15px;
}

.subject footer .bottom .right p {
    color: var(--paste-green);
}

