@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  outline: none !important;
  font-family: "Poppins";
}

.hidden {
  display: none;
}

p {
margin-bottom: 0;
}

h4 {
margin-bottom: 0;
}

svg {
width: 25px;
height: 25px;
}

ul {
margin-bottom: 0;
padding: 0;
}

img {
width: 100%;
height: 100%;
}

.container-fluid {
margin: 0;
}

:root{
--sky-blue: #2DAAE1;
--light-sky-blue: #EFF3FF;
--light-sky-blue-overlay: #eff3ff1c;
--deep-blue: #1070B7;
--deep-blue-2: #0f5286;
--pink-red: #aa2c63;
--pink: #da2573;
--container-white: #f5fafc;
--container-white-low: rgba(245, 250, 252, 0.808);
--light-black: rgb(36, 36, 36);
--paste-green: rgb(0, 143, 71);
--star-yellow: #ffc040;
}

/* Body Styles */ 
body { 
  font-family: 'Poppins'; 
  margin: 0; 
  padding: 0; 
  width: 100%;
  height: 100%; 
  background: var(--container-white);
  overflow: hidden auto;
} 

nav {
  z-index: 2;
  position: fixed;
  width: 100%;
}
 



.category__select {
  margin-top: 40px;
  display: flex;
  height: min-content;
  justify-self: center;
  width: min-content;
  box-shadow: 0 2px 6px #effaff;
}

.category__select button {
  background: #fff;
  border: none;
  font-size: 1.5rem;
  padding: 10px 25px;
  border-radius: 15px 0 0 15px;
  text-transform: uppercase;

}

.category__select button:nth-child(1) {
  background: var(--deep-blue);
  background: var(--pink);
  /* background: var(--pink-red); */
  color: #fff;
}

.category__select button:nth-child(2) {
  border-radius: 0 15px 15px 0;
}









/* NAV BAR */
.navbar{ 
  background-color: #EFF3FF; 
  height: 9.5vh;
  min-height: 90px;
  position: fixed;
  width: 100vw;
  padding: 0 10px;
} 

.navbar-brand {
  display: block;
  height: 90%;
  margin-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar .container-fluid {
  height: 100%;
}

.navbar-brand img {
  height: 100%;
}

.nav-item {
  margin: 0 15px 0 15px;
  padding: 0 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.nav-item:hover,
.nav-item.active {
  background: var(--deep-blue);
  transition: .2s ease-in-out;
}

.nav-item:hover a,
.nav-item.active a {
  color: #fff !important;
  transition: .2s ease-in-out;
  height: fit-content;
}
.nav-item-profile {
  margin: 0 15px;
}

.nav-item-profile img {
  height: 7vh;
  width: 7vh;
  object-fit: cover;
  border-radius: 50%;
}

.nav-item a {
  font-size: 1.3rem;
}




nav a { 
  font-size: 20px; 
} 
.navbar-nav { 
  display: flex; 
  align-items: center; 
 
} 


.search_bar {
  /* margin-right: 10px; */
  display: flex;
  justify-items: center;
  align-items: center;
}

.search-input {
  background: none;
  border: none;
  /* border: 1px solid black; */
  border-radius: 12px;
  width: 20vw;
  padding: 16px;
  background: var(--container-white);
  width: 0;
  opacity: 0;
  /* background: none; */
}

.search_bar svg {
  fill: black;
  position: relative;
  right: 45px;
  z-index: 2;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.search_bar:hover .search-input,
.search-bar:focus .search-input,
.search-input:focus,
.search-input:hover {
  width: 20vw;
  opacity: 100%;
  background: var(--container-white);
  transition: .3s ease;
}

.search_bar:hover svg ,
.search-bar:focus svg ,
.search-input:focus ~ svg,
.search-input:hover ~ svg {
  fill: var(--deep-blue) !important ;
  transition: .3s ease;
}

.search-result_bar {
  display:none;
  width: 20vw;
  height: 40vh;
  overflow: auto;
  z-index: 2;
  position: absolute;
  background: #fff;
}

.search-result_item {
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: flex-start;    
  background: #fff;
  /* background: var(--container-white); */
  margin-bottom: 5px;
  cursor: pointer;
}


.search-result_item:hover {
  background: var(--container-white);
  transition: .2s ease;
}

.search-result_item > .left {
  
  height: 80px;
  padding: 5px;
}

.search-result_item .left img {
  border-radius: 12px;
  background-position: center;
  object-fit: cover;
}


.search-result_item > .right {
  padding: 10px 0 0 10px;
  width: calc(100% - 80px);
}

.search-result_item .right .top h4 {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--deep-blue-2);
}

.search-result_item > .right > .bottom {
  display: flex;
  width: 80%;
}

.search_bar_mobile {
  display: none; /* Hide the element by default */
}

.progress_cont {
  display: flex;
  align-items: center;
  /* width: 80% !important; */
}

.progress_cont p {
  float: right;
  font-size: 0.8rem;
  color: var(--deep-blue-2);
}

.progress-bar {
  width: 100%;
  background: var(--container-white);
  margin-right: 10px;
}

.progress-bar .bar {
  width: 40%;
  height: 5px;
  background: yellow;
}


.info_bar {
  display: flex;
  width: 20%;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  right: 5px;
  gap: 4px;
  bottom: 5px;
}

.info_bar div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_bar div p {
  font-size: 0.65rem;
  color: grey;
  display: block;
  height: min-content;
  top: 2px;
}

.info_bar div:nth-child(2) svg {
  width: 14px;
  height: 14px;
  top: 1px;
}


.info_bar svg {
  width: 13px;
  height: 13px;
  margin-right: 2px;
  fill: var(--light-black);
}

.search-result-item__chapter .right {
  padding: 10px 0 0 10px;
  width: 70%;
}


.search-result-item__chapter .right .top h4:hover {
  text-decoration: none !important;
}


.search-result-item__chapter .right .bottom .left .more-bottom.info_bar {
  width: 20% !important;
}



.bottom-nav {
  z-index: 2;
  position: fixed;
  right: 0;
  top: max(90px, 9.5vh);
  background: var(--light-sky-blue);
  padding: 8px 16px;
  border-radius: 0 0 0 12px;
}

.bottom-nav > li {
  list-style: none;
}

.bottom-nav > ul {
  display: flex;
  gap: 20px;
  list-style: none;
  flex-direction: row;
}

.bottom-nav > ul li {
  cursor: pointer;
}

.bottom-nav > ul li:hover svg {
  fill: var(--deep-blue-2);
  transition: .3s ease;
}


.notification_bar {
  display: none;
  width: 25vw;
  height: 60vh;
  position: absolute;
  right: 0;
  background: #fff;
  border-radius: 12px;
  overflow: auto;
  margin-top: 8px;
}

.notification_bar ul {
  display: flex;
  flex-direction: column;
}

.notification {
  display: flex;
  align-items: center;
  background: var(--light-sky-blue);
  cursor: pointer;
}

.notification:hover {
  background: var(--container-white) !important;
  transition: .2s ease;
}

.notification .left img {
  padding: 5px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.notification > .right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification .right .left {
  width: 90%;
  padding: 10px;
}

.notification .right .left h6 {
  margin-bottom: 5px;
}

.notification .right .left p {
  font-size: 0.7rem;
  color: grey;
  margin-top: 0;
}

.blue_span {
  color: var(--deep-blue-2);
}

.notification > .right > .right {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification .right .right .blue-circle {
  width: 12.5px;
  height: 12.5px;
  border-radius: 50%;
  background: var(--deep-blue);
}




/* WELCOME TEXT */
.welcome-text {
  background: none;
  text-align: left;
}

.welcome-text h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-left: 5px;
  top: 12.5px;
}


.welcome-text h1 {
  font-size: 6rem;
  color: var(--deep-blue-2);
}



/* UPLOAD */
.upload {
  width: 23%;
  border-radius: 12px;
  box-shadow: 0 4px 7px #fff;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.upload:hover {
  box-shadow: 0px 2px 10px rgb(211 219 224);
  transform: translateY(-10px);
}

/* .upload header {
height: 300px;
background: url(note_cover.jpg);
background-size: cover;
cursor: pointer;
}  */

.upload>header {
  cursor: pointer;
}

.upload header img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.upload header .subject,
.upload header .upload-type {
  border-radius: 8px;
  padding: 4px 12px;
  height: min-content;
  display: inline-block;
  background: var(--deep-blue);
  color: #fff;
  text-transform: uppercase;
  cursor: default;
  z-index: 1;
  position: absolute;
  top: 0;
}

.upload header .upload-type-class {
  background: var(--deep-blue) !important;
}

.upload header .upload-type {
  /* right: 0; */
  background: var(--pink);
}


.upload footer {
  background: var(--light-sky-blue);
}

.upload footer>.top {
  height: 85px;
  height: fit-content;
  padding: 8px 12px;
  font-size: 1.2rem;
  background: white;
}

.upload footer>.top h4 {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--deep-blue-2);
}

.upload footer>.top p {
  font-size: 0.8rem;
}

.upload__class footer > .top {
  display: flex;
  justify-content: space-between;
}

.upload__class footer > .top .right {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.rating svg {
  fill: var(--star-yellow) !important;
  stroke: black;
  stroke-width: 0.5px;
  height: 15px !important;
  width: 15px !important;
}

.rating p {
  font-size: 1rem !important;
  top: 1px;
}

.rating__small {
  position: absolute;
  height: 2rem;
  width: max-content;
  top: -2rem;
  right: 0;
  background: var(--light-sky-blue);
  padding: 4px 10px;
}




.upload footer>.bottom {
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

.upload footer>.bottom>.left {
  display: flex;
  width: 80%;
}

.upload footer>.bottom .left img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.upload footer>.bottom>.left>.right {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upload footer>.bottom>.left>.right h4 {
  font-size: 1.1rem;
}

.upload footer>.bottom>.left>.right h4:hover {
  text-decoration: underline;
}

.upload footer>.bottom>.left>.right p {
  font-size: 0.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.upload footer>.bottom>.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--pink);
}

.upload footer>.bottom>.right svg {
  width: 25px;
  height: 25px;
  fill: var(--pink);
  cursor: pointer;
}

.upload footer>.bottom>.right p {
  cursor: default;
}


.upload .top h4:hover,
.upload .top p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.upload .right h4:hover,
.upload .right p:hover {
  cursor: pointer;
}

.upload-type {
  background: var(--pink);
  border-radius: 8px;
  padding: 4px 12px;
  height: min-content;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  cursor: default;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}



/* POPUP CONTAINER */
.popup__parent {
    position:fixed;
    z-index: 3;
    width:100vw;
    height:100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    position:absolute;
    background: var(--container-white) !important;
    width: 60%;
    max-width: 900px;
    height: 70%;
    overflow: hidden;
    border-radius: 12px;
    padding: 20px;  
}

.popup > header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup > header h2 {
  font-size: 1.8rem;
  margin: 20px auto;
  font-weight: 400;
}

.popup_select__list {
  height: 90%;
  display: flex;
  gap: 10px;
  overflow: auto;
  box-shadow: none !important;
}

.upload_select {
  width: 30%;
  height: min-content;
  margin-bottom: 15px;
  box-shadow: none !important;
}

.upload_select > header {
  height: 200px;
}

.upload_select:hover {
  box-shadow: 0px 2px 10px rgb(240, 243, 245);
  transform: translateY(-5px);
}

.upload_select footer .top > h4 {
  font-size: 1.2rem;
}

.upload_select footer .top > p {
  font-size: 0.7rem;
}



.upload_subject ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7px;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
}



.upload_chapter ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7px;
  justify-content: space-evenly;
  margin-bottom: 20px;
  padding: 10px;
}


/*note & class*/

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f5fafc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-class__container {
  max-width: 600px;
}

.header {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  /*border-bottom: 1px solid #bfbebe;*/
}

.header h2 {
  font-weight: 500;
}

.header svg {
  height: 30px;
  width: 30px;
  color: #333;
  background-color: #c7c7c7;
  border-radius: 50%;
}

/* h2 {
  text-align: center;
  margin-bottom: 0px;
  color: #333;
} */

.profile-top {
  margin-top: 20px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-top .left {
  height: 100%;
}

.left img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.right {
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right h4 {
  font-size: 1.1rem;
  font-weight: 500;
}

.container .right p {
  font-size: 0.7rem;
  color: var(--deep-blue-2);
}

.button{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;  
}
.select-btn-left,
.select-btn-right {
  width: 80px;
  height: 30px;
  border: 0px  transparent;
  font-size: 0.8rem;
}

.select-btn-left{
  color: #EFF3FF;
  background-color: var(--pink);
  border-radius: 6px 0px 0px 6px;
}

.select-btn-right {
  color: black;
  background-color: #ffffff;
  border-radius: 0px 6px 6px 0px;
}

.select-btn-left:focus {
  background: var(--pink-red);
  transition: .2s ease-in-out;
}

.select-btn-right:focus {
  background: #ccc;
  transition: .2s ease-in-out;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-group input[type="text"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: none;
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 30px;
}
.form-control {
  width: 90%;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
}

.input-group-text >svg {
  margin-top: 0px !important; 
  height: 30px;
  width: 30px;
  fill: var(--deep-blue);
  
}

.form-group textarea {
  height: 50px;
  background-color: #f5fafc;
}

.form-group .file-upload {
  height: 200px;
  border: 2px dashed #ccc;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.form-group #photo {
  display: none;
}

.form-group svg {
  margin-top: 50px;
}

.form-group .file-upload span {
  display: block;
  margin-top: 0px;
  color: #888;
  font-size: medium;
}

.form-group .file-upload:hover {
  border-color: #999;
}

.rate {
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
  margin-left: 5px;
}

.rating {
  display: flex;
}

.rating span {
  font-weight: 300;
  margin-right: 10px;
}
.upload-btn {
  width: 100%;
  background: var(--deep-blue);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.1s ease-in-out;
}

.upload-btn:focus {
  background-color: var(--pink-red);
}


.upload_post {
  background: #fff !important;
}


.upload_post header .category__select button {
  font-size: 1.1rem;
  padding: 7px 15px;
}

.upload_post header .category__select button:nth-child(2) {
  background: var(--light-sky-blue);
}

.upload_post main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#description {
  margin-top: 10px;
  width: 95%;
  height: 50%;
  border-radius: 12px;
  outline: none;
  border: none;
  background: var(--container-white);
}




/* Responsive Styles */
@media screen and (max-width: 600px) {

  .navbar-brand img {
    display: none;
  }

  .search_mobile {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 48px; /* Adjust the height as needed */
  }
  
  .search_bar_mobile {
    width: 60%;
    position: fixed;
    z-index: 10;
    top: 20px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    padding: 5px;
  }

  .search-input-mobile {
    width: 100%;
    border: none;
    padding: 10px;
    outline: none;
    font-size: small;
    background-color: transparent;
    border-radius: 20px;
    color: #333333;
  }
  
  .search-input-mobile::placeholder {
    color: #999999;
  }
  
  .search-input-mobile:hover {
    width: 100%;
  }
  
  .search-icon {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
    transition: transform 0.3s;
  }
  
  .search-icon::after {
    content: '\f002';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #999999;
    transition: transform 0.3s;
  }
  
  .search-icon.active::after {
    transform: rotate(45deg);
    color: var(--light-sky-blue);
  }

  .bottom-nav{
    top: 33px;
    right: 74px;
    background: none;
    padding: 0px;
    border-radius: 0 0 0 0;
  }
  .bottom-nav > ul {
    gap: 10px;
  }


  .upload_subject,
  .upload_chapter,
  .post {
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .upload_subject ul,
  .upload_chapter ul {
    justify-content: center;
  }

  .upload_subject li,
  .upload_chapter li {
    width: 45%;
  }
  
  .upload__class footer > .top .right{
    height: 1em;
    width: 50%;
    position: absolute;
  width: max-content;
  top: -1em;
  right: 0;
  background: #fff;
  padding: 4px;
  }

  .rating {
    margin-top: 1px;
    margin-right: -2px;
  }

  .rating svg {
    width: 10px !important; 
  }
  
}


.sign-up_text {
  font-size: 2.75rem !important;
  color: var(--deep-blue-2);
  margin-bottom: 20px !important;
}










