/* HOME IMAGE CONTAINER */
.home-image-cont {
  padding-top: 90px;
  display: flex;
  flex-direction: row;
  background: var(--light-sky-blue);
}

.home-image-cont .right {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: start;
}

.home-image-cont .right img {
  height: 95%;
}

.home-image-cont .left {
  width: auto;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-image-cont .left .left-main-cont {
  width: 70%;
  text-align: left;
}


.home-image-cont .left .left-main-cont main {
  /* display: flex; */
  margin-top: 20px;
  width: 90%;
  padding-left: 30px;
  font-size: 1.2rem;
}


.home-image-cont .left .left-main-cont main::before {
  content: '';
  height: 100%;
  width: 8px;
  border-radius: 8px;
  background: var(--deep-blue-2);
  display: block;
  position: absolute;
  left: 0;
}


.home-image-cont .left .left-main-cont footer .upload_btn {
  margin-top: 40px;
  margin-bottom: 10px;
  ;
  border-radius: 8px;
  background: var(--deep-blue);
  border: none;
  color: #fff;
  font-size: 1.1rem;
  transition: none;
}

.home-image-cont .left .left-main-cont footer .upload_btn:hover {
  background: var(--pink-red);
  transition: .2s ease-in-out;
}


.search_bar_mobile {
  display: none; /* Hide the element by default */
}

@media screen and (max-width: 600px) {
  .home-image-cont {
    padding-top: 60px;
  }

  .home-image-cont .left .left-main-cont {
    width: 100%;
  }

  .home-image-cont .left .left-main-cont header h2 {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-left: 3px;
    top: 5px;
  }

  .home-image-cont .left .left-main-cont header h1 {
    font-size: 3rem;
  }

  .home-image-cont .left {
    width: 50%;
  }

  .home-image-cont .right {
    width: 100%;
    height: 100%;
    top: 140px;
  }

  .home-image-cont .left .left-main-cont main {
    padding-left: 20px;
    font-size: .7rem
  }

  .home-image-cont .left .left-main-cont footer .upload_btn {
    margin-bottom: 20px;
  }

  .search_mobile {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 48px; /* Adjust the height as needed */
  }
  
  .search_bar_mobile {
    width: 60%;
    position: fixed;
    z-index: 10;
    top: 20px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    padding: 5px;
  }

  .search-input-mobile {
    width: 100%;
    border: none;
    padding: 10px;
    outline: none;
    font-size: small;
    background-color: transparent;
    border-radius: 20px;
    color: #333333;
  }
  
  .search-input-mobile::placeholder {
    color: #999999;
  }
  
  .search-input-mobile:hover {
    width: 100%;
  }
  
  .search-icon {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
    transition: transform 0.3s;
  }
  
  .search-icon::after {
    content: '\f002';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #999999;
    transition: transform 0.3s;
  }
  
  .search-icon.active::after {
    transform: rotate(45deg);
    color: var(--light-sky-blue);
  }

  .bottom-nav{
    top: 33px;
    right: 74px;
    background: none;
    padding: 0px;
    border-radius: 0 0 0 0;
  }
  .bottom-nav > ul {
    gap: 15px;
  }

}  



/* RECENTLY VIEWED AND RECENT UPLOADS*/
.recent_cont {
  padding: 40px 30px;
}

.home_small-cont {
  padding: 40px 30px;
}

.home_small-cont main {
  align-items: center;
}

.home_small-cont>main>ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  justify-content: space-between;
  align-items: center;
}

.home_small-cont>header {
  margin-bottom: 40px;
}

.home_small-cont>header h2 {
  font-size: 1.8rem;
}

.show-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #fff;
  /* margin-left: 30px; */
  box-shadow: 0px 2px 10px rgb(255, 255, 255);
  background: var(--deep-blue);
  cursor: pointer;
  transition: .3s ease;
}
.show_more {
  display: none;
}

.show-more:hover {
  /* box-shadow: 0px 2px 10px rgb(211 219 224);  */
  transform: translateX(5px);
}


.home_small-cont>main .show-more svg {
  width: 40px;
  height: 40px;
  /* fill: var(--deep-blue);
  fill: black;
  fill: var(--deep-blue-2); */
  fill: #fff;
}


.home_small-cont>footer {
  margin-top: 40px;
  display: flex;
}

.home_small-cont>footer ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.home_small-cont>footer ul li a {
  text-decoration: none;
}

@media screen and (max-width: 600px) {

  
  .home_small-cont {
    padding: 10px;
    margin-top: 20px;
  }

  .home_small-cont>header {
    margin-bottom: 20px;
    margin-left: 0;
  }

  .home_small-cont>header h2 {
    margin-top: 7.5px;
    font-size: 1.3rem;
    margin-left: 0;
  }

  .recent_cont>main {
    margin-left: 0;
  }

  .recent_cont>main ul,
  .home_small-cont>main>ul {
    flex-direction: row;
    margin-left: 0px;

  }

  .recent_cont>main>ul>li,
  .home_small-cont>main>ul>li {
    flex-basis: 49%;
    margin-bottom: 10px;
  }

  .recent_cont>footer>ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 0.8rem;
    margin-top: -20px;
  }

  .upload header img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .upload header .upload-type {
    font-size: 0.75rem;
    padding: 3px 8px;
  }

  .upload footer>.top {
    padding: 5px 10px;
    height: 50px;
    height: fit-content;
  }

  .upload footer>.top h4 {
    font-size: .7rem
  }

  .upload footer>.top p {
    font-size: .45rem
  }

  .upload footer>.bottom {
    padding: 7.5px;
  }

  .upload footer>.bottom>.left {
    width: 80%;
  }

  .upload footer>.bottom .left img {
    width: 30px;
    height: 30px;
  }

  .upload footer > .bottom > .left > .right {
    margin-left: 5px;
  }

  .upload footer>.bottom>.left>.right h4 {
    font-size: .7rem;
    font-weight: 400;
  }

  .upload footer>.bottom>.left>.right p {
    font-size: .45rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
  }

  .upload footer>.bottom>.right {
    display: inline-block;
    display: flex;
    height: 17.5px; 
    gap: 2px;
  }

  .upload footer>.bottom>.right svg {
    width: 17.5px;
    height: 17.5px;
  }

  .upload footer>.bottom>.right p {
    font-size: .5rem;
    text-align: center;
  }

  .home_small-cont>main .show-more {
    display: none;
  }
  .show_more {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .show_more h5{
    font-size: small;
    color: var(--deep-blue);
    text-decoration: 2px underline ;
    text-underline-offset: 4px;
    text-decoration-color: var(--deep-blue);
  }
}







/*subject*/






.news_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

.news_cont .left {
  width: 40%;
  padding: 0 5% 0 10%;
}

.news_cont .right p:before {
  content: '';
  height: 100%;
  width: 8px;
  border-radius: 8px;
  background: var(--sky-blue);
  display: block;
  position: absolute;
  left: 0;
}

.news_cont .right p {
  padding-left: 25px;
  margin-left: 5px;
}

.news_cont .left img {
  width: 100%;
  height: 100%;
}

.news_cont>.right {
  width: 50%;
  padding: 0 10% 0 5%;
}

.news_cont>.right h2 {
  font-size: 5rem;
  color: var(--deep-blue);
  margin-bottom: 20px;
  width: max-content;
}

@media screen and (max-width: 600px) {
  .news_cont>.right {
    width: 70%;
    padding: 0px 10px 0px 0px;
  }

  .news_cont>.right h2 {
    font-size: 2rem;
  }

  .news_cont .right p {
    font-size: 10px;
  }

  .news_cont .left {
    padding: 0px 0px 0px 0px;
  }

}

.footer_cont > header svg {
  transform: scale(-1,1);
  width: 100vw;
  height: calc(100vw / 12);
  fill: var(--deep-blue-2);
  top: 2px
}

.footer_cont > main {
  background: var(--deep-blue-2);
  display: flex;
  gap: 20px;
  padding: 20px 30px 100px 30px;
  align-items: center;
}

.footer_cont > main .left {
  width: 50%;
  padding: 0 60px 0 20px;
}

.footer_cont > main .left h2 {
  color: white;
  font-size: 4rem;
  margin-bottom: 40px;
}

.footer_cont > main .left p {
  color: var(--container-white);
  opacity: 80%;
  font-size: 1.2rem;
  font-weight: 200;
}


.footer_cont main .middle {
  width: 20%;
}

.footer_cont > main > .middle h4 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer_cont main .middle ul {
  list-style-type: none;
  margin-left: 10px;
}


.footer_cont main .middle ul li {
  margin-top: 10px;
}

.footer_cont main .middle ul li a:hover {
  color: var(--sky-blue);
}


.footer_cont main .middle ul li a {
  font-size: 1.2rem;
  color: var(--container-white);
  opacity: 80%;
  text-decoration: none;
  transition: .2s ease;
}








.footer_cont main .right {
  width: 30%;
  color: var(--container-white-low);
  display: flex;
  flex-direction: column;
}

.footer_cont main .right h4 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 15px;
}


.footer_cont main .right .middle {
  margin-bottom: 35px;
}

.footer_cont main .right .middle h5 {
  font-size: 1.5rem;
  color: var(--container-white);
  width: max-content;
  margin-top: 35px;
}

.footer_cont main .right .middle ul {
  display: flex;
  gap: 50px;
}

.footer_cont main .right .middle ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: .3s ease;
}

.footer_cont main .right .middle ul li:hover {
  transform: translateY(-7.5px);
}

.footer_cont main .right .middle ul li p {
  margin-top: 5px;
}

.footer_cont main .right .middle img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}



.footer_cont main .right .bottom h5 {
  font-size: 1.5rem;
  color: var(--container-white);
  width: max-content;
}

.footer_cont main .right .bottom ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
  margin-left: 25px;
  margin-top: 20px;
}

.footer_cont main .right .bottom ul li {
  cursor: pointer;
  transition: .3s ease;
}

.footer_cont main .right .bottom ul li:hover {
  transform: translateY(-5px);
}

.footer_cont main .right .bottom ul li svg {
  fill: var(--container-white);
  width: 30px;
  height: 30px;
}



@media screen and (max-width: 600px) {
  .footer_cont>main {
    display: list-item;
  }

  .footer_cont>main .left {
    width: 100%;
    padding: 0 0px 0 0px;
  }

  .footer_cont>main .left h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .footer_cont>main .left p {
    font-size: .8rem;
    font-weight: 200;
    text-align: justify;
  }

  .footer_cont main .middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-start;

  }

  .footer_cont>main>.middle h4,
  .footer_cont main .right h4 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 200;
  }

  .footer_cont main .right h4 {
    height: 40px;
  }

  .footer_cont main .middle ul {
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0px;
  }

  .footer_cont main .middle ul li a,
  .footer_cont main .right p {
    font-size: .8rem;

  }

  .footer_cont main .right .middle ul {
    align-items: stretch;
    flex-direction: row;
    gap: 30px;
    margin-left: 0px;
  }

  .footer_cont main .right .middle h5 {
    font-weight: 200;
    margin-top: 0px;
  }

  .footer_cont main .right {
    top: 10px;
    width: 100%;
  }

  .footer_cont main .right .middle {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .footer_cont main .right .middle img {
    height: 50px;
    width: 50px;
  }

  .footer_cont main .right .middle ul,
  .footer_cont main .right .bottom ul {
    justify-content: space-around;
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-left: 0px;
    /* margin-top: 20px; */
    align-items: center;
  }
}


@media screen and (max-width: 400px) {
  .upload footer>.bottom>.left>.right h4 {
    font-size: .6rem;
  }

  .upload footer>.bottom>.left>.right p {
    font-size: .4rem;
  }
}


.btn { 
  color: var(--sky-blue);
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.btn:hover {
  background-color: var(--deep-blue);
  color: white;
}

.back-to-top {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s;
}

.back-to-top svg {
 fill: var(--deep-blue);
}

.back-to-top:hover {
  background-color: #7db7e4;
}

