/*login page*/
input {
    border-radius: 4px !important;
    outline: none !important;
  }
  
  
  .login__cont {
      top: 15vh;
  }
  .divider:after,
  .divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  }
  .h-custom {
  height: calc(100% - 73px);
  }

  

  @media (max-width: 600px) {
  .h-custom {
  height: 100%;
  }
  
  .link-register-btn{
    color: var(--pink-red)
  }
  .link-register-btn:hover{
    color: var(--pink)
  }
  .login__cont {
    top: 10vh;
}
.welcome-text h2 {
    font-size: 1.9rem;
}
.welcome-text h1 {
    font-size: 4rem;
}
  }
