/* Profile page */
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Quicksand&display=swap');
body > main {
  padding-top: 80px;
}
.profile {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  
}

.profile-header {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  margin: 90px auto 30px auto;
  width: 90%;
  background: #fff;
  padding: 40px;
  box-shadow: 0 2px 7px var(--container-white);
}

.profile_image,
.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.img_info {
  display: flex;
}

.profile-header p {
  font-size: 32px;
  margin: 0;
  color: #333;
  float: left;
}
.Name {
  font-size: 2.5rem !important;
  text-transform: uppercase;
}

.College {
  font-size: 1.2rem !important;
  color: var(--deep-blue) !important;
}

.class-label {
  align-self: center;
  margin-right: 20px;
}

.class-label p {
  background: var(--light-sky-blue);
  padding: 10px 20px;
  font-size: 1.5rem !important;
  text-transform: uppercase;
  color: #fff;
  border-radius: 12px;
  color: var(--deep-blue-2);
  /* margin-left: 20px; */
}



/* info bar styles */
.profile-info,
.upload-info,
.point-info {
  height: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: var(--light-sky-blue);
  background: #fff;
}

.point-info{
  align-items: center;
  font-size: 200%;
}

.profile__small-box {
  font-size: 1.1rem;
  margin-right: 20px;
}

.profile__small-box p {
  color: black !important;
  width: max-content;
}


.profile-info div {
  display: flex;
  justify-content: space-between;
}


.profile-info div p:nth-child(1) {
  /* width: 80%; */
}

.profile-info div p:nth-child(2) {
  /* width: 20%; */
}

.profile-info h2,
.profile-info h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.upload-info div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.upload-info div:nth-child(1) p:nth-child(1) {
  margin-right: 20px;
}

.trophy__small-box div {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
}

.trophy__small-box img {
  width: 70px;
  height: 60px;
  margin-right: 15px;

}

.trophy__small-box h2 {
  font-size: 3rem;
  color: var(--deep-blue-2);
}



.profile__bottom {
  display: flex;
  width: 90%;
  margin: 0 auto 30px auto;
  flex-wrap: wrap;
  gap: 20px;
}








.profile__uploads {
  width: 90%;
  margin: 0 auto;
}

.uploads-list {
  padding-bottom: 40px;
}

.uploads-list ul {
  display: flex;
  gap: 30px 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.upload {
  width: 23%;
}

.upload footer>.bottom>.left {
  width: 100% !important;
  display: flex;
  flex-direction: column;
}


.profile__uploads header h2 {
  color: var(--deep-blue-2);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 30px;
}

.upload__subject {
  text-transform: uppercase;
  font-size: 1.3rem !important; 
  color: var(--deep-blue-2);
}

.upload__chapter {
  color: black;
  font-size: 0.825rem !important;
}

/* Uploads styles */
/* .uploads-list {
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
} */


@media only screen and (max-width: 600px) {
  body > main {
    padding-top: 0px;
  }

  .profile-header {
    padding: 20px 5px !important;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 15px;
  }

  .profile {
    width: 75px;
    height: 75px;
  }
  
  .profile-info {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
  }
  .Name {
    font-size: 1.3rem !important;
    width: max-content;
  }
  .College {
    font-size: .6rem !important;
  }
  .class-label {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    margin-right: 10px;

  }
  .class-label p {
    font-size: .8rem !important;
    width: max-content;
    padding: 5px 10px;
    border-radius: 6px;
  }

  .profile__bottom {
    width: 100%;
    flex-wrap: wrap;
    gap: 10px 2.5px;
  }


  .profile__small-box {
    font-size: .7rem;
    margin-right: 10px;
  }
  .profile-info div p:nth-child(1) {
   /* width: 70%; */
  }

  .trophy__small-box .profile-info {
    padding: 10px 20px;
    border-radius: 6px;
  }

  .trophy__small-box img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .trophy__small-box h2 {
    font-size: 1.4rem;
    color: var(--deep-blue-2);
  }

  .profile__uploads {
    width: 95%;
  }

  .profile__uploads header h2 {
    font-size: 1.3rem;
    margin-bottom: 15px;
  }

  .uploads-list ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    justify-content: space-between;
    align-items: center;
    gap: 5px 0;
  }
  .upload {
    flex-basis: 49%;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  .upload header .upload-type {
    font-size: 0.65rem;
    padding: 3px 5px;
    border-radius: 4px;
  }
  .upload header img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  .upload footer>.bottom {
    padding: 10px 5px;
    padding-right: 10px;
    height: 50px;
    height: fit-content;
  }
  .upload footer>.bottom>.left {
    display: flex;
    width: 80%;
  }

  .upload__subject {
    font-size: 0.85rem !important;
  }

  .upload__chapter {
    font-size: 0.55rem !important;
  }

  .upload footer>.bottom>.left>.right {
    width: 85%;
  }

  .upload footer>.bottom>.left>.right h4 {
    font-size: .8rem !important;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    overflow: hidden;
    height: 1em;
  }
  .upload footer>.bottom>.left>.right p {
    font-size: .45rem !important;
    margin-top: 2px;
  }
  .upload footer>.bottom>.right {
    display: flex;
    height: 17.5px;
    gap: 2px;
  }
  .upload footer>.bottom>.right svg {
    width: 17.5px;
    height: 17.5px;
  }
  .upload footer>.bottom>.right p {
    font-size: .5rem;
    text-align: center;
  }
  .upload footer>.bottom>.right {
    height: 1em;
    width: 50%;
    position: absolute;
    width: max-content;
    right: 2.5px;

    padding: 4px;
  }

  .rating {
    padding: 2px 5px;
    height: 1rem;
    top: -1rem;
  }

  .rating svg {

  }

}


@media only screen and (max-width: 1000px) and (min-width: 600px) {
  .profile-header {
    padding: 20px;
  }

  .profile {
    width: 100px;
    height: 100px;
  }

  .Name {
    font-size: 2.2rem !important;
  }

  .College {
    font-size: 1rem;
  }
}
