/* Profile page */
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Quicksand&display=swap');
.main {
  padding-top: 80px;
}
.profile {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  
}

.profile-header {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  text-align: center;
  margin: 70px auto 30px auto;
  width: 90%;
  background: #fff;
  padding: 40px;
  box-shadow: 0 2px 7px var(--container-white);
}

.profile_image,
.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.img_info {
  display: flex;
}

.profile-header p {
  font-size: 32px;
  margin: 0;
  color: #333;
  float: left;
}
.Name {
  font-size: 2.5rem !important;
  text-transform: uppercase;
}

.College {
  font-size: 1.2rem !important;
  color: var(--deep-blue) !important;
}

.class-label p {
  background: var(--light-sky-blue);
  padding: 10px 20px;
  font-size: 1.5rem !important;
  text-transform: uppercase;
  color: #fff;
  border-radius: 12px;
  color: var(--deep-blue-2);
}



/* info bar styles */
.profile-info,
.upload-info,
.point-info {
  height: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: var(--light-sky-blue);
  background: #fff;
}

.point-info{
  align-items: center;
  font-size: 200%;
}

.profile__small-box {
  font-size: 1.1rem;
  margin-right: 20px;
}

.profile__small-box p {
  color: black !important;
}


.profile-info div {
  display: flex;
  justify-content: space-between;
}


.profile-info div p:nth-child(1) {
  width: 80%;
}

.profile-info div p:nth-child(2) {
  /* width: 20%; */
}

.profile-info h2,
.profile-info h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.trophy__small-box div {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
}

.trophy__small-box img {
  width: 70px;
  height: 60px;
  margin-right: 15px;

}

.trophy__small-box h2 {
  font-size: 3rem;
  color: var(--deep-blue-2);
}



.profile__bottom {
  display: flex;
  width: 90%;
  margin: 0 auto 30px auto;
}








.profile__uploads {
  width: 90%;
  margin: 0 auto;
}

.uploads-list {
  padding-bottom: 40px;
}

.uploads-list ul {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.profile__uploads header h2 {
  color: var(--deep-blue-2);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 30px;
}

.upload__subject {
  text-transform: uppercase;
  font-size: 1.3rem !important; 
  color: var(--deep-blue-2);
}

.upload__chapter {
  color: black;
  font-size: 0.825rem !important;
}

/* Uploads styles */
/* .uploads-list {
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
} */


@media only screen and (max-width: 600px) {
  .main {
    padding-top: 0px;
  }
  .profile {
    width: 50px;
    height: 50px;
  }
  .profile-header {
    padding: 5px !important;
  }
  .profile-info {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
  }
  .Name {
    font-size: .9rem !important;
  }
  .College {
    font-size: .5rem !important;
  }
  .class-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .class-label p {
    font-size: .6rem !important;
    margin: 7px !important;
  }
  .profile__small-box {
    font-size: .6rem;
    margin-right: 10px;
  }
  .profile-info div p:nth-child(1) {
   width: 70%;
  }
  .trophy__small-box img {
    width: 25px;
    height: 25px;
    margin-right: 0px;
  }
  .trophy__small-box h2 {
    font-size: .9rem;
    color: var(--deep-blue-2);
  }

  .uploads-list ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    justify-content: space-between;
    align-items: center;
  }
  .upload {
    flex-basis: 45%;
    margin-bottom: 10px;
  }
  .upload header .upload-type {
    font-size: 0.75rem;
    padding: 3px 8px;
  }
  .upload header img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  .upload footer>.bottom {
    padding: 5px 10px;
    height: 50px;
    height: fit-content;
  }
  .upload footer>.bottom>.left {
    display: flex;
    width: 80%;
  }
  .upload footer>.bottom>.left>.right h4 {
    font-size: .8rem !important;
  }
  .upload footer>.bottom>.left>.right p {
    font-size: .45rem !important;
  }
  .upload footer>.bottom>.right {
    display: flex;
    height: 17.5px;
    gap: 2px;
  }
  .upload footer>.bottom>.right svg {
    width: 17.5px;
    height: 17.5px;
  }
  .upload footer>.bottom>.right p {
    font-size: .5rem;
    text-align: center;
  }
  .upload footer>.bottom>.right {
    height: 1em;
    width: 50%;
    position: absolute;
    width: max-content;
    right: 0;

    padding: 4px;
  }

}
