/* Profile page */
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Quicksand&display=swap');
main {
  padding-top: 80px;
}



.profile {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.profile-header {
  display: inline-flexbox;
  margin-top: 10px;
  background: linear-gradient(120deg, #c5d7eb 0%, #96a6b9 100%);
  border-radius: 12px;
  text-align: center;
  margin: 70px auto 30px auto;
  width: 90%;
  background: var(--light-sky-blue);
  background: #fff;
  padding: 40px;
  box-shadow: 0 2px 7px var(--container-white);
}

.profile-header div:nth-child(2),
.profile-header div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profile-header p {
  font-size: 32px;
  margin: 0;
  color: #333;
  float: left;
}

.Name {
  font-size: 2.5rem !important;
  text-transform: uppercase;
}

.College {
  font-size: 1.2rem !important;
  color: var(--deep-blue) !important;
}

.class-label p {
  background: var(--light-sky-blue);
  padding: 10px 20px;
  font-size: 1.5rem !important;
  text-transform: uppercase;
  color: #fff;
  border-radius: 12px;
  color: var(--deep-blue-2);
}



/* info bar styles */
.profile-info,
.upload-info,
.point-info {
  height: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: var(--light-sky-blue);
  background: #fff;
}

.point-info{
  align-items: center;
  font-size: 200%;
}

.profile__small-box {
  font-size: 1.1rem;
  margin-right: 20px;
}

.profile__small-box p {
  color: black !important;
}


.profile-info div {
  display: flex;
  justify-content: space-between;
}


.profile-info div p:nth-child(1) {
  width: 80%;
}

.profile-info div p:nth-child(2) {
  /* width: 20%; */
}

.profile-info h2,
.profile-info h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.trophy__small-box div {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
}

.trophy__small-box img {
  width: 70px;
  height: 60px;
  margin-right: 15px;

}

.trophy__small-box h2 {
  font-size: 3rem;
  color: var(--deep-blue-2);
}



.profile__bottom {
  width: 90%;
  margin: 0 auto 30px auto;
}








.profile__uploads {
  width: 90%;
  margin: 0 auto;
}

.uploads-list {
  padding-bottom: 40px;
}

.uploads-list ul {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.profile__uploads header h2 {
  color: var(--deep-blue-2);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 30px;
}

.upload__subject {
  text-transform: uppercase;
  font-size: 1.3rem !important; 
  color: var(--deep-blue-2);
}

.upload__chapter {
  color: black;
  font-size: 0.825rem !important;
}

/* Uploads styles */
/* .uploads-list {
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
} */

