* {
    outline: none !important;
}

.back_btn {
    position: absolute;
    top: 50px;
    left: 50px;
}

.back_btn button {
    background: none;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid black;
}

.reg__cont {
    top: 15vh;
}

input {
    border-radius: 4px !important;
    outline: none !important;
}

label {
    margin-bottom: 5px;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .reg__cont {
        top: 10vh;
    }
    .welcome-text h2 {
        font-size: 1.9rem;
    }
    .welcome-text h1 {
        font-size: 4rem;
    }
    .form-control {
        width: 100%;
    }
    
}
