* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    outline: none !important;
 }

 p {
  margin-bottom: 0;
 }

 h4 {
  margin-bottom: 0;
 }

 svg {
  width: 25px;
  height: 25px;
 }
 
 :root{
  --sky-blue: #2DAAE1;
  --light-sky-blue: #EFF3FF;
  --deep-blue: #1070B7;
  --deep-blue-2: #0f5286;
  --pink-red: #aa2c63;
  --pink: #da2573;
  --container-white: #f5fafc;
 }
 
 /* Body Styles */ 
 body { 
    font-family: 'Poppins'; 
    margin: 0; 
    padding: 0; 
    width: 100vw;
    height: 100vh; 
    background: var(--container-white);
  } 
  #topbar{ 
    background-color: #155894; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
  } 
  #topbar a{ 
      margin-left:4px; 
  } 
  #topbar .align-items-center { 
    display: flex; 
    align-items: baseline; 
  } 
   
  #topbar a .phone-icon { 
    margin-top: -1px; 
  } 
   
  .navbar{ 
    background-color: #EFF3FF; 
    height: 9.5vh;
    min-height: 90px;
    position: fixed;
    width: 100vw;
    z-index: 2;
  } 

  .navbar-brand {
    display: block;
    height: 90%;
    margin-left: 30px;
  }

  .navbar .container-fluid {
    height: 100%;
  }

  .navbar-brand img {
    height: 100%;
  }

  .nav-item {
    margin: 0 15px 0 15px;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  .nav-item:hover,
  .nav-item.active {
    background: var(--deep-blue);
    transition: .2s ease-in-out;
  }

  .nav-item:hover a,
  .nav-item.active a {
    color: #fff !important;
    transition: .2s ease-in-out;
  }

  .nav-item a {
    font-size: 1.3rem;
  }

  .profile a img {
    height: 7vh;
    width: 7vh;
    min-height: 60px;
    object-fit: cover;
  }


  nav a { 
    font-size: 20px; 
  } 
  .navbar-nav { 
    display: flex; 
    align-items: center; 
   
  } 


  .home-image-cont {
    padding-top: max(90px, 9.5vh);
    display: flex;
    flex-direction: row;
    background: var(--light-sky-blue);
  }

  .home-image-cont .right {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .home-image-cont .right img {
    height: 95%;
  }

  .home-image-cont .left {
    width: 60%;
    /* height: 60%; */
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home-image-cont .left .left-main-cont {
    width: 70%;
    /* height: 60%; */
    text-align: left;
  }

  .home-image-cont .left .left-main-cont header {
    background: none;
    text-align: left;
  }

  .home-image-cont .left .left-main-cont header h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-left: 5px;
    top: 12.5px;
  }


  .home-image-cont .left .left-main-cont header h1 {
    font-size: 6rem;
    color: var(--deep-blue-2);
  }

  .home-image-cont .left .left-main-cont main {
    /* display: flex; */
    margin-top: 20px;
    width: 90%;
    padding-left: 30px;
    font-size: 1.2rem;
  }

  .home-image-cont .left .left-main-cont main::before {
    content: '';
    height: 100%;
    width: 8px;
    border-radius: 8px;
    background: var(--deep-blue-2);
    display: block;
    position: absolute;
    left: 0;
  }

  
  .home-image-cont .left .left-main-cont footer .upload_btn {
    margin-top: 20px;
    border-radius: 8px;
    background: var(--deep-blue);
    border: none;
    color: #fff;
    font-size: 1.1rem;
    transition: none;
  }

  .home-image-cont .left .left-main-cont footer .upload_btn:hover {
    background: var(--pink-red);   
    transition: .2s ease-in-out;
  }








/* RECENT POST */
.recent_cont {
  padding: 40px 30px;
}

.recent_cont > main > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recent_cont> main > ul>li{
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease-out;
}

.recent_cont> main > ul>li:hover {
    box-shadow: 0px 5px 25px rgba(0,0,0,0.3); 
    transform: translateY(-10px); 
} 
.recent_cont > header {
  margin-bottom: 30px;
}

.recent_cont > header h2 {
  font-size: 1.8rem;
}
.recently-viewed-post {
  width: calc(25% - 4px);
  border-radius: 12px;
  box-shadow: 0 4px 7px #fff;
  overflow: hidden;
}

.recently-viewed-post header {
  height: 300px;
  background: url(note_cover.jpg);
  background-size: cover;
  cursor: pointer;
} 

.recently-viewed-post header .subject {
  border-radius: 8px;
  padding: 4px 12px;
  height: min-content;
  display: inline-block;
  background: var(--deep-blue);
  color: #fff;
  text-transform: uppercase;
  cursor: default;
}


.recently-viewed-post footer {
  background: var(--light-sky-blue);
}
.recently-viewed-post footer > .top {
  padding: 8px 12px;
  font-size: 1.2rem;
  background: white;
}

.recently-viewed-post footer > .bottom {
  display: flex;
  padding: 15px;
  align-items: center;
}

.recently-viewed-post footer > .bottom > .left {
  display: flex;
  width: 80%;
}

.recently-viewed-post footer > .bottom .left img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.recently-viewed-post footer > .bottom > .left > .right {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.recently-viewed-post footer > .bottom > .left > .right h4 {
  font-size: 1.1rem;
}

.recently-viewed-post footer > .bottom > .left > .right p {
  font-size: 0.7rem;
}


.recently-viewed-post footer > .bottom > .right  {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--pink);
}

.recently-viewed-post footer > .bottom > .right svg {
  width: 25px;
  height: 25px;
  fill: var(--pink);
}



   
  /* Header Styles */ 
  /* header { 
    background-color: #347a32; 
    padding: 10px; 
    text-align: center; 
  } 
   
  header h1 { 
    margin: 0; 
    font-size: 36px; 
    color: white; 
  }  */
   
 
 /*news & updates section*/
 
 #card2 {
   margin-bottom: 1rem;
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
   border: none;
   border-radius: 20px;
 }
 
 #card2 {
   height: 100%;
 }
 
 #card2 .card-title {
   font-size: 1.5rem;
 }
 
 #card2 p {
   font-size: 1.2rem;
 }
 
 #card2 .card-footer2 {
   background-color: #f8f9fa;
   border-top: none;
   padding-top: 1rem;
   padding-bottom: 1rem;
 }
 
 @media (min-width: 768px) {
   #card2 {
     
     height: auto;
     width: 97%;
   }
 }
 /* Card title styles */
 .card-title {
   font-size: 1.5rem;
   font-weight: bold;
 }
 
 /* Card body styles */
 .card-body {
   padding: 1rem;
 }
 
 .card-text {
   font-size: 1rem;
   color: #666;
 }
 
 /* Card footer styles */
 .card-footer2 {
   padding: .75rem 1.25rem;
   border-top: 1px solid rgba(0, 0, 0, 0.125);
   text-align: right;
   font-size: 0.875rem;
   color: #666;
 }
 
  .btn { 
    padding: 10px 15px; 
    border-radius: 5px;
    color: var(--sky-blue); 
    text-decoration: none; 
    transition: all 0.3s ease-out; 
  } 
   
  .btn:hover { 
    background-color: var(--deep-blue);
    color: white;
  } 
   
  .back-to-top { 
    position: fixed; 
    bottom: 2px; 
    right: 2px;
    z-index: 9999;
    background-color: transparent;
    border-color: transparent;
  } 
  .back-to-top:hover { 
        background-color: #7db7e4;
  } 
   
   
  /* Footer Styles */ 
  .footer { 
    background-color: var(--sky-blue); 
    padding: 20px; 
    color: white; 
    text-align: center; 
  } 
   
  .footer ul { 
    margin: 0; 
    padding: 0; 
    list-style: none; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    margin-bottom: 20px; 
  } 
   
  .footer ul li { 
    margin-right: 15px; 
  } 
   
  .footer ul li:last-child { 
    margin-right: 0; 
  } 
   
  .footer ul li a { 
    color: white; 
    text-decoration: none; 
    transition: all 0.3s ease-out; 
  } 
   
  .footer ul li a:hover { 
    color: #347a32; 
  } 
   
  .footer p { 
    font-size: 14px; 
    line-height: 1.7; 
    margin-bottom: 0; 
  } 
   
  .footer a { 
    color: #c9c9c9; 
    text-decoration: none; 
    transition: all 0.3s ease-out; 
  } 
   
  .footer a:hover { 
    color: #347a32; 
  } 
   
  .footer i { 
    font-size: 24px; 
    color: #c9c9c9; 
    margin-right: 10px; 
  } 
   
  .footer i:hover { 
    color: #347a32; 
  } 
   
  @media screen and (max-width: 767px) { 
    .footer ul { 
      flex-direction: column; 
    } 
    .footer li { 
      margin: 0 0 10px 0; 
    } 
    .footer li:last-child { 
      margin: 0; 
    } 
  } 
 .text-center{
  background-color: #60a6dd;
 }
