* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  outline: none !important;
}

.hidden {
  display: none;
}

p {
margin-bottom: 0;
}

h4 {
margin-bottom: 0;
}

svg {
width: 25px;
height: 25px;
}

ul {
margin-bottom: 0;
padding: 0;
}

img {
width: 100%;
height: 100%;
}

.container-fluid {
margin: 0;
}

:root{
--sky-blue: #2DAAE1;
--light-sky-blue: #EFF3FF;
--deep-blue: #1070B7;
--deep-blue-2: #0f5286;
--pink-red: #aa2c63;
--pink: #da2573;
--container-white: #f5fafc;
--container-white-low: rgba(245, 250, 252, 0.808);
--light-black: rgb(36, 36, 36);
--paste-green: rgb(0, 143, 71);
}

/* Body Styles */ 
body { 
  font-family: 'Poppins'; 
  margin: 0; 
  padding: 0; 
  width: 100%;
  height: 100%; 
  background: var(--container-white);
  overflow: hidden auto;
} 

nav {
  z-index: 2;
  position: fixed;
  width: 100%;
}
 
.navbar{ 
  background-color: #EFF3FF; 
  height: 9.5vh;
  min-height: 90px;
  position: fixed;
  width: 100vw;
  padding: 0 10px;
} 

.navbar-brand {
  display: block;
  height: 90%;
  margin-left: 30px;
}

.navbar .container-fluid {
  height: 100%;
}

.navbar-brand img {
  height: 100%;
}

.nav-item {
  margin: 0 15px 0 15px;
  padding: 0 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.nav-item:hover,
.nav-item.active {
  background: var(--deep-blue);
  transition: .2s ease-in-out;
}

.nav-item:hover a,
.nav-item.active a {
  color: #fff !important;
  transition: .2s ease-in-out;
  height: fit-content;
}
.nav-item-profile {
  margin: 0 15px;
}

.nav-item-profile img {
  height: 7vh;
  width: 7vh;
  object-fit: cover;
  border-radius: 50%;
}

.nav-item a {
  font-size: 1.3rem;
}




nav a { 
  font-size: 20px; 
} 
.navbar-nav { 
  display: flex; 
  align-items: center; 
 
} 


.search_bar {
  /* margin-right: 10px; */
  display: flex;
  justify-items: center;
  align-items: center;
}

.search-input {
  background: none;
  border: none;
  /* border: 1px solid black; */
  border-radius: 12px;
  width: 20vw;
  padding: 16px;
  background: var(--container-white);
  width: 0;
  opacity: 0;
  /* background: none; */
}

.search_bar svg {
  fill: black;
  position: relative;
  right: 45px;
  z-index: 2;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.search_bar:hover .search-input,
.search-bar:focus .search-input,
.search-input:focus,
.search-input:hover {
  width: 20vw;
  opacity: 100%;
  background: var(--container-white);
  transition: .3s ease;
}

.search_bar:hover svg ,
.search-bar:focus svg ,
.search-input:focus ~ svg,
.search-input:hover ~ svg {
  fill: var(--deep-blue) !important ;
  transition: .3s ease;
}


.search-result_bar {
  display: none;
  width: 20vw;
  height: 40vh;
  overflow: auto;
  z-index: 2;
  position: absolute;
  background: #fff;
}

.search-result_item {
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: space;    
  background: #fff;
  /* background: var(--container-white); */
  margin-bottom: 5px;
  cursor: pointer;
}


.search-result_item:hover {
  background: var(--container-white);
  transition: .2s ease;
}

.search-result_item > .left {
  width: 80px !important;
  height: 80px;
  padding: 5px;
}

.search-result_item .left img {
  border-radius: 12px;
  background-position: center;
  object-fit: cover;
}


.search-result_item > .right {
  padding: 10px 0 0 10px;
  width: calc(100% - 80px);
}

.search-result_item .right .top h4 {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--deep-blue-2);
}

.search-result_item > .right > .bottom {
  display: flex;
  width: 80%;
}

.progress_cont {
  display: flex;
  align-items: center;
  width: 100% !important;
}

.progress_cont p {
  float: right;
  font-size: 0.8rem;
  color: var(--deep-blue-2);
}

.progress-bar {
  width: 100%;
  background: var(--container-white);
  margin-right: 10px;
}

.progress-bar .bar {
  width: 40%;
  height: 5px;
  background: yellow;
}


.info_bar {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.info_bar div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_bar div p {
  font-size: 0.65rem;
  color: grey;
  display: block;
  height: min-content;
  top: 2px;
}

.info_bar div:nth-child(2) svg {
  width: 14px;
  height: 14px;
  top: 1px;
}


.info_bar svg {
  width: 13px;
  height: 13px;
  margin-right: 2px;
  fill: var(--light-black);
}


.search-result-item__chapter .right .top h4 {
  color: black
}

.search-result-item__chapter .right .top h4:hover {
  text-decoration: none !important;
}




.bottom-nav {
  z-index: 2;
  position: fixed;
  /* bottom: 100%; */
  right: 0;
  top: max(90px, 9.5vh);
  background: var(--light-sky-blue);
  padding: 8px 16px;
  border-radius: 0 0 0 12px;
}

.bottom-nav > li {
  list-style: none;
}

.bottom-nav > ul {
  display: flex;
  gap: 20px;
  list-style: none;
  flex-direction: row;
}

.bottom-nav > ul li {
  cursor: pointer;
}

.bottom-nav > ul li:hover svg {
  fill: var(--deep-blue-2);
  transition: .3s ease;
}


.notification_bar {
  display: none;
  width: 25vw;
  height: 60vh;
  position: absolute;
  right: 0;
  background: #fff;
  border-radius: 12px;
  overflow: auto;
  margin-top: 8px;
}

.notification_bar ul {
  display: flex;
  flex-direction: column;
}

.notification {
  display: flex;
  align-items: center;
  /* margin-bottom: 5px; */
  background: var(--light-sky-blue);
  cursor: pointer;
}

.notification:hover {
  background: var(--container-white) !important;
  transition: .2s ease;
}

.notification .left img {
  padding: 5px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.notification > .right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification .right .left {
  width: 90%;
  padding: 10px;
}

.notification .right .left h6 {
  margin-bottom: 5px;
}

.notification .right .left p {
  font-size: 0.7rem;
  color: grey;
  margin-top: 0;
}

.blue_span {
  color: var(--deep-blue-2);
}

.notification > .right > .right {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification .right .right .blue-circle {
  width: 12.5px;
  height: 12.5px;
  border-radius: 50%;
  background: var(--deep-blue);
}



/*upload section*/

.home-image-cont {
  padding-top: 90px;
  display: flex;
  flex-direction: row;
  background: var(--light-sky-blue);
}

.home-image-cont .right {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: start;
}

.home-image-cont .right img {
  height: 95%;
}

.home-image-cont .left {
  width: auto;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-image-cont .left .left-main-cont {
  width: 70%;
  text-align: left;
}

.welcome-text {
  background: none;
  text-align: left;
}

.welcome-text h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-left: 5px;
  top: 12.5px;
}


.welcome-text h1 {
  font-size: 6rem;
  color: var(--deep-blue-2);
}

.home-image-cont .left .left-main-cont main {
  /* display: flex; */
  margin-top: 20px;
  width: 90%;
  padding-left: 30px;
  font-size: 1.2rem;
}



.home-image-cont .left .left-main-cont main::before {
  content: '';
  height: 100%;
  width: 8px;
  border-radius: 8px;
  background: var(--deep-blue-2);
  display: block;
  position: absolute;
  left: 0;
}


.home-image-cont .left .left-main-cont footer .upload_btn {
  margin-top: 40px;
  margin-bottom: 10px;;
  border-radius: 8px;
  background: var(--deep-blue);
  border: none;
  color: #fff;
  font-size: 1.1rem;
  transition: none;
}

.home-image-cont .left .left-main-cont footer .upload_btn:hover {
  background: var(--pink-red);   
  transition: .2s ease-in-out;
}


  .home-image-cont {
    padding-top: 90px;
    display: flex;
    flex-direction: row;
    background: var(--light-sky-blue);
  }
  
  .home-image-cont .left {
    width: auto;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .home-image-cont .left .left-main-cont {
    
    text-align: left;
  }
  
  .welcome-text {
    background: none;
    text-align: left;
  }
  
  .welcome-text h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-left: 5px;
    top: 12.5px;
  }
  
  
  .welcome-text h1 {
    font-size: 6rem;
    color: var(--deep-blue-2);
  }
  
  .home-image-cont .left .left-main-cont main {
    /* display: flex; */
    margin-top: 20px;
    width: 90%;
    padding-left: 30px;
    font-size: 1.2rem;
  }
  
  
  
  .home-image-cont .left .left-main-cont main::before {
    content: '';
    height: 100%;
    width: 8px;
    border-radius: 8px;
    background: var(--deep-blue-2);
    display: block;
    position: absolute;
    left: 0;
  }
  
  
  .home-image-cont .left .left-main-cont footer .upload_btn {
    margin-top: 40px;
    margin-bottom: 10px;;
    border-radius: 8px;
    background: var(--deep-blue);
    border: none;
    color: #fff;
    font-size: 1.1rem;
    transition: none;
  }
  
  .home-image-cont .left .left-main-cont footer .upload_btn:hover {
    background: var(--pink-red);   
    transition: .2s ease-in-out;
  }

  .home-image-cont .right {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
  
  .home-image-cont .right img {
    height: 95%;
  }

  .search_bar_mobile {
    visibility: none; 
    right: 265px;
  } 
  

  @media screen and (max-width: 600px ) {
    .home-image-cont{
      padding-top: 150px;
    }
    .home-image-cont .left .left-main-cont {
      width: 100%;
    }

    .home-image-cont .left .left-main-cont header h2{
        font-size: 1.6rem;
        text-transform: uppercase;
        margin-left: 3px;
        top: 5px;
    }
  
    .home-image-cont .left .left-main-cont header h1{
        font-size: 3rem;
    }
  
    .home-image-cont .left{
        width: 50%;
    }
  
    .home-image-cont .right{
        width: 100%;
        height: 100%;
        top: 140px;
    }

    .home-image-cont .left .left-main-cont main {
      padding-left: 20px;
      font-size: .7rem
    }
    
    .home-image-cont .left .left-main-cont footer .upload_btn {
      margin-bottom: 20px;
    }
    .search_mobile {
      z-index: 2;
      position: fixed;
      /* bottom: 100%; */
      height: 60px;
      top: max(90px, 9.5vh);
      /*background: var(--light-sky-blue);*/
      padding: 8px 16px;
      border-radius: 0 0 12px 0;
    }
    .search_bar_mobile {
      visibility: visible;
      right: 265px;
    }
    }
  



/* RECENT Activity */
.recent_cont {
  padding: 40px 30px;
}

.home_small-cont {
padding: 40px 30px;
}

.home_small-cont main {
align-items: center;
}

.home_small-cont > main > ul {
display: flex;
flex-wrap: wrap;
margin-left: 30px;
justify-content: space-between; 
}
.home_small-cont > header {
margin-bottom: 40px;
}

.home_small-cont > header h2 {
font-size: 1.8rem;
}

.show-more {
padding: 10px;
width: fit-content;
border-radius: 50%;
background: #fff;
margin-left: 30px;
box-shadow: 0px 2px 10px rgb(255, 255, 255); 
background: var(--deep-blue);
cursor: pointer;
transition: .3s ease;
}

.show-more:hover {
/* box-shadow: 0px 2px 10px rgb(211 219 224);  */
transform: translateX(5px); 
}


.home_small-cont > main .show-more svg {
width: 35px;
height: 35px;
/* fill: var(--deep-blue);
fill: black;
fill: var(--deep-blue-2); */
fill: #fff;
}

.upload .top h4:hover,
.upload .top p:hover {
text-decoration: underline;
cursor: pointer;
}
.upload .right h4:hover,
.upload .right p:hover{
  cursor: pointer;  
}






.upload {
width: 23%; 
border-radius: 12px;
box-shadow: 0 4px 7px #fff;
overflow: hidden;
transition: all 0.3s ease-out;
}

.upload:hover {
box-shadow: 0px 2px 10px rgb(211 219 224); 
transform: translateY(-10px); 
} 

/* .upload header {
height: 300px;
background: url(note_cover.jpg);
background-size: cover;
cursor: pointer;
}  */

.upload > header {
cursor: pointer;
}

.upload header img {
height: 300px;
width: 100%;
object-fit: cover;
}

.upload header .subject,
.upload header .upload-type {
border-radius: 8px;
padding: 4px 12px;
height: min-content;
display: inline-block;
background: var(--deep-blue);
color: #fff;
text-transform: uppercase;
cursor: default;
z-index: 1;
position: absolute;
top: 0;
}

.upload header .upload-type-class {
background: var(--deep-blue) !important;
}

.upload header .upload-type {
/* right: 0; */
background: var(--pink);
}


.upload footer {
background: var(--light-sky-blue);
}
.upload footer > .top {
padding: 8px 12px;
font-size: 1.2rem;
background: white;
}

.upload footer > .top h4 {
text-transform: uppercase;
font-size: 1.4rem;
font-weight: 500;
color: var(--deep-blue-2);
}

.upload footer > .top p {
font-size: 0.8rem;
}

.upload footer > .bottom {
display: flex;
padding: 15px;
align-items: center;
}

.upload footer > .bottom > .left {
display: flex;
width: 80%;
}

.upload footer > .bottom .left img {
width: 50px;
height: 50px;
border-radius: 50%;
}

.upload footer > .bottom > .left > .right {
margin-left: 10px;
display: flex;
flex-direction: column;
justify-content: center;
}
.upload footer > .bottom > .left > .right h4 {
font-size: 1.1rem;
}

.upload footer > .bottom > .left > .right h4:hover {
text-decoration: underline;
}

.upload footer > .bottom > .left > .right p {
font-size: 0.7rem;
}


.upload footer > .bottom > .right  {
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
color: var(--pink);
}

.upload footer > .bottom > .right svg {
width: 25px;
height: 25px;
fill: var(--pink);
cursor: pointer;
}

.upload footer > .bottom > .right p {
cursor: default;
}


.home_small-cont > footer {
margin-top: 40px;
display: flex;
}

.home_small-cont > footer ul {
display: flex;
gap: 20px;
list-style-type: none;
}

.home_small-cont > footer ul li a {
text-decoration: none;
}

@media screen and (max-width: 600px) {
  .home_small-cont{
    padding: 10px;
    margin-top: 20px;
  }    
  
  .home_small-cont > header{
    margin-bottom: 20px;
    margin-left: 5px;
  }
  
  .home_small-cont > header h2 {
    margin-top: 10px;
    font-size: 1.6rem;
  }

  .recent_cont > main {
    margin-left: 0;
  }

  .recent_cont > main ul,
  .home_small-cont > main > ul {
    flex-direction: row;
    margin-left: 0px;

  }
  .recent_cont> main> ul> li,
  .home_small-cont > main > ul> li{
    flex-basis: 49%;
    margin-bottom: 10px;
  }

  .recent_cont > footer > ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 0.8rem;
    margin-top: -20px;
  }

  .upload header img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  .upload header .upload-type {
    font-size: 0.75rem;
    padding: 3px 8px;
  }

  .upload footer > .top {
    padding: 5px 10px;
  }
  .upload footer > .top h4{
    font-size: .7rem
  }
  .upload footer > .top p{
    font-size: .45rem
  }
  .upload footer > .bottom {
    padding: 15px 10px;
  }
  .upload footer > .bottom > .left {
    width: 100%;
  }
  .upload footer > .bottom .left img{
    width: 30px;
    height: 30px;
  }
  .upload footer > .bottom > .left > .right h4{
    font-size: .8rem;
    font-weight: 400;
  }
  .upload footer > .bottom > .left > .right p{
    font-size: .5rem;
  }
  .upload footer > .bottom > .right {
    display: none;
  }
  .upload footer > .bottom > .right p{
    font-size: .8rem;
  }
  .home_small-cont > main .show-more{
   overflow: visible;
  }
}

/*subject*/
.upload-type{
  background: var(--pink);
  border-radius: 8px;
  padding: 4px 12px;
  height: min-content;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  cursor: default;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.upload_subject{
  border-radius: 12px;
  max-width: 60%;
  margin: 10px auto;
  background-color: var(--light-sky-blue);
  padding: 20px;
}

.upload_subject header {
  font-size: 1.5rem;
  margin-bottom: 5px;
  text-align: center;
  padding: 10px;
  color: var(--deep-blue);
}

.upload_subject ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7px;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
}

.upload_subject li{
  width: 22%;
  border-radius: 12px;
  box-shadow: 0 4px 7px #fff;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.upload_subject li:hover {
  box-shadow: 0px 2px 10px rgb(211 219 224); 
  transform: translateY(-10px); 
} 

.upload_subject img{
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.upload_subject footer{
  background: var(--light-sky-blue);  
}

.upload_subject h2{
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--deep-blue-2);
  text-align: center;
  padding: 5px;
}
/*subject*/

/*chapter*/
.upload_chapter{
  border-radius: 12px;
  max-width: 60%;
  margin: 10px auto;
  background-color: var(--light-sky-blue);
  padding: 20px;

}

.upload_chapter header {
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
  color: var(--deep-blue);
}

.upload_chapter ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7px;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
}

.upload_chapter li{
  width: 22%;
  border-radius: 12px;
  box-shadow: 0 4px 7px #fff;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.upload_chapter li:hover {
  box-shadow: 0px 2px 10px rgb(211 219 224); 
  transform: translateY(-10px); 
} 

.upload_chapter img{
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.upload_chapter footer{
  background: var(--light-sky-blue);  
}

.upload_chapter h2{
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--deep-blue-2);
  text-align: center;
  padding: 5px;
}
/*chapter*/

/*note & class*/
.post {
  border-radius: 12px;
  max-width: 60%;
  margin: 10px auto;
  background-color: #f2f2f2;
  padding: 20px 20px 0px 20px;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  font-size: 18px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control{
  border-radius: 12px;
}

.form-control::placeholder {
  color: #999;
}

.category input[type="radio"] {
  display: none;
}

.category label {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}

.category label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--deep-blue);
  margin-right: 5px;
  background-color: var(--deep-blue);
  transition: background-color 0.3s ease;
}

.category input[type="radio"]:checked + label:before {
  background-color: var(--pink);
}

.category input[type="radio"]:focus + label:before {
  border-color: #555;
}

.category input[type="radio"]:hover + label:before {
  border-color: #555;
}


#title .form-control{
  text-align: center;
}

#description .form-control {
  height: 100px;
  text-align: center;
}

label {
  font-weight: bold;
}

#class-link .form-control {
  text-align: center;
}

.input-group-text {
  height: 38px;
  
}
.file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--pink);
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.file-upload input[type="file"] {
  display: none;
}

.file-upload span {
  font-size: 18px;
  color: #999;
}

.file-upload:hover {
  border-color: #555;
}

.file-upload.dragover {
  background-color: #f2f2f2;
}

.upload-post{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.upload_btn{
  
  border-radius: 8px;
  background: var(--deep-blue);
  border: none;
  color: #fff;
  font-size: 1.1rem;
  transition: .8s ease-out;
  padding: 10px 15px;
  margin-bottom: 5px;
}
.upload_btn:hover{
  background: var(--paste-green);
}


/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .upload_subject,
  .upload_chapter,
  .post {
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .upload_subject ul,
  .upload_chapter ul {
    justify-content: center;
  }

  .upload_subject li,
  .upload_chapter li {
    width: 45%;
  }
}




.news_cont {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 50px;
margin-top: 30px;
}

.news_cont .left {
width: 40%;
padding: 0 5% 0 10%;
}

.news_cont .right p:before {
  content: '';
  height: 100%;
  width: 8px;
  border-radius: 8px;
  background: var(--sky-blue);
  display: block;
  position: absolute;
  left: 0;
}

.news_cont .right p {
padding-left: 25px;
margin-left: 5px;
}

.news_cont .left img {
width: 100%;
}

.news_cont > .right {
width: 50%;
padding: 0 10% 0 5%;
}

.news_cont > .right h2 {
font-size: 5rem;
color: var(--deep-blue);
margin-bottom: 20px;
}
@media screen and (max-width: 600px ) {
  .news_cont > .right {
    width: 70%;
    padding: 0px 10px 0px 0px;
  }
  .news_cont > .right h2{
    font-size: 2rem;
  }
  .news_cont .right p{
    font-size: 10px;
  }
  .news_cont .left{
    padding: 0px 0px 0px 0px;
  }
  
}

.footer_cont > header svg {
transform: scale(-1,1);
width: 100vw;
height: calc(100vw / 12);
fill: var(--deep-blue-2);
}

.footer_cont > main {
background: var(--deep-blue-2);
display: flex;
gap: 20px;
padding: 20px 30px 100px 30px;
align-items: center;
}

.footer_cont > main .left {
width: 50%;
padding: 0 60px 0 20px;
}

.footer_cont > main .left h2 {
color: white;
font-size: 4rem;
margin-bottom: 40px;
}

.footer_cont > main .left p {
color: var(--container-white);
opacity: 80%;
font-size: 1.2rem;
font-weight: 200;
}


.footer_cont main .middle {
width: 20%;

}

.footer_cont > main > .middle h4 {
font-size: 2rem;
color: #fff;
margin-bottom: 20px;
text-transform: uppercase;
}

.footer_cont main .middle ul {
list-style-type: none;
margin-left: 10px;
}


.footer_cont main .middle ul li {
margin-top: 10px;
}

.footer_cont main .middle ul li a:hover {
color: var(--sky-blue);
}


.footer_cont main .middle ul li a {
font-size: 1.2rem;
color: var(--container-white);
opacity: 80%;
text-decoration: none;
transition: .2s ease;
}








.footer_cont main .right {
width: 30%;
color: var(--container-white-low);
display: flex;
flex-wrap: wrap;
flex-direction: column;
}

.footer_cont main .right h4 {
font-size: 2rem;
color: #fff;
margin-bottom: 15px;
}


.footer_cont main .right .middle {
margin-bottom: 35px;
}

.footer_cont main .right .middle h5 {
font-size: 1.5rem;
color: var(--container-white);
width: max-content;
margin-top: 35px;
}

.footer_cont main .right .middle ul {
display: flex;
flex-direction: row;
gap: 25px;
}

.footer_cont main .right .middle ul li {
display: flex;
flex-direction: column;
align-items: center;
cursor: pointer;
transition: .3s ease;
}

.footer_cont main .right .middle ul li:hover {
transform: translateY(-7.5px);
}

.footer_cont main .right .middle ul li p {
margin-top: 5px;
}

.footer_cont main .right .middle img {
width: 60px;
height: 60px;
border-radius: 50%;
}



.footer_cont main .right .bottom h5 {
font-size: 1.5rem;
color: var(--container-white);
width: max-content;
}

.footer_cont main .right .bottom ul {
display: flex;
list-style-type: none;
gap: 25px;
margin-left: 25px;
margin-top: 20px;
}

.footer_cont main .right .bottom ul li {
cursor: pointer;
transition: .3s ease;
}

.footer_cont main .right .bottom ul li:hover {
transform: translateY(-5px);
}

.footer_cont main .right .bottom ul li svg {
fill: var(--container-white);
width: 30px;
height: 30px;
}



@media screen and (max-width: 600px ) {
  .footer_cont > main{
    display: list-item;
  }
  .footer_cont > main .left{
    width: 100%;
    padding: 0 0px 0 0px;
  }
  .footer_cont > main .left h2{
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .footer_cont > main .left p{
    font-size: .8rem;
    font-weight: 200;
    text-align:justify;
  }
  .footer_cont main .middle{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-start;
    
  }
  .footer_cont > main > .middle h4,
  .footer_cont main .right h4{
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 200;
  }
  .footer_cont main .right h4{
    height: 40px;
  }
  
  .footer_cont main .middle ul{
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0px;
  }    
  
  .footer_cont main .middle ul li a,
  .footer_cont main .right p{
    font-size: .8rem;
    
  }
  .footer_cont main .right .middle ul{
    align-items: stretch;
    flex-direction: row;
    gap: 30px;
    margin-left: 0px;
  }
  
  .footer_cont main .right .middle h5{
    font-weight: 200;
    margin-top: 0px;
  }
  .footer_cont main .right{
    top: 10px;
  }
  .footer_cont main .right .middle {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .footer_cont main .right .middle img{
    height: 30px;
    width: 30px;
  }
  .footer_cont main .right .middle ul ,
  .footer_cont main .right .bottom ul{
    justify-content: space-evenly;
    display: flex;
    list-style-type: none;
    gap: 25px;
    margin-left: 30px;
    /* margin-top: 20px; */
    align-items: center;
  }
}
 
 
  .btn { 
    padding: 10px 15px; 
    border-radius: 5px;
    color: var(--sky-blue); 
    text-decoration: none; 
    transition: all 0.3s ease-out; 
  } 
   
  .btn:hover { 
    background-color: var(--deep-blue);
    color: white;
  } 
   
  .back-to-top { 
    position: fixed; 
    bottom: 2px; 
    right: 2px;
    z-index: 9999;
    background-color: transparent;
    border-color: transparent;
  } 
  .back-to-top:hover { 
        background-color: #7db7e4;
  } 
