* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    outline: none !important;
 }

 html {
  width: 100vw;
 }

 p {
  margin-bottom: 0;
 }

 h4 {
  margin-bottom: 0;
 }

 svg {
  width: 25px;
  height: 25px;
 }

 ul {
  margin-bottom: 0;
  padding: 0;
 }

 .container-fluid {
  margin: 0;
 }
 
 :root{
  --sky-blue: #2DAAE1;
  --light-sky-blue: #EFF3FF;
  --deep-blue: #1070B7;
  --deep-blue-2: #0f5286;
  --pink-red: #aa2c63;
  --pink: #da2573;
  --container-white: #f5fafc;
  --container-white-low: rgba(245, 250, 252, 0.808);
 }
 
 /* Body Styles */ 
 body { 
    font-family: 'Poppins'; 
    margin: 0; 
    padding: 0; 
    width: 100vw;
    height: 100vh; 
    background: var(--container-white);
    overflow: hidden auto;
  } 
  #topbar{ 
    background-color: #155894; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
  } 
  #topbar a{ 
      margin-left:4px; 
  } 
  #topbar .align-items-center { 
    display: flex; 
    align-items: baseline; 
  } 
   
  #topbar a .phone-icon { 
    margin-top: -1px; 
  } 
   
  .navbar{ 
    background-color: #EFF3FF; 
    height: 9.5vh;
    min-height: 90px;
    position: fixed;
    width: 100vw;
    z-index: 2;
  } 

  .navbar-brand {
    display: block;
    height: 90%;
    margin-left: 30px;
  }

  .navbar .container-fluid {
    height: 100%;
  }

  .navbar-brand img {
    height: 100%;
  }

  .nav-item {
    margin: 0 15px 0 15px;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  .nav-item:hover,
  .nav-item.active {
    background: var(--deep-blue);
    transition: .2s ease-in-out;
  }

  .nav-item:hover a,
  .nav-item.active a {
    color: #fff !important;
    transition: .2s ease-in-out;
    height: fit-content;
  }
  .nav-item-profile {
    margin: 0 15px;
  }
  
  .nav-item-profile img {
    height: 7vh;
    width: 7vh;
    object-fit: cover;
    border-radius: 50%;
  }

  .nav-item a {
    font-size: 1.3rem;
  }

  .profile a img {
    
    
  }


  nav a { 
    font-size: 20px; 
  } 
  .navbar-nav { 
    display: flex; 
    align-items: center; 
   
  } 


  .home-image-cont {
    padding-top: max(90px, 9.5vh);
    display: flex;
    flex-direction: row;
    background: var(--light-sky-blue);
  }

  .home-image-cont .right {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .home-image-cont .right img {
    height: 95%;
  }

  .home-image-cont .left {
    width: 60%;
    /* height: 60%; */
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home-image-cont .left .left-main-cont {
    width: 70%;
    /* height: 60%; */
    text-align: left;
  }

  .home-image-cont .left .left-main-cont header {
    background: none;
    text-align: left;
  }

  .home-image-cont .left .left-main-cont header h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-left: 5px;
    top: 12.5px;
  }


  .home-image-cont .left .left-main-cont header h1 {
    font-size: 6rem;
    color: var(--deep-blue-2);
  }

  .home-image-cont .left .left-main-cont main {
    /* display: flex; */
    margin-top: 20px;
    width: 90%;
    padding-left: 30px;
    font-size: 1.2rem;
  }

  

  .home-image-cont .left .left-main-cont main::before {
    content: '';
    height: 100%;
    width: 8px;
    border-radius: 8px;
    background: var(--deep-blue-2);
    display: block;
    position: absolute;
    left: 0;
  }

  
  .home-image-cont .left .left-main-cont footer .upload_btn {
    margin-top: 40px;
    margin-bottom: 10px;;
    border-radius: 8px;
    background: var(--deep-blue);
    border: none;
    color: #fff;
    font-size: 1.1rem;
    transition: none;
  }

  .home-image-cont .left .left-main-cont footer .upload_btn:hover {
    background: var(--pink-red);   
    transition: .2s ease-in-out;
  }

  @media screen and (max-width: 600px ) {
    .home-image-cont .left .left-main-cont header h2{
        font-size: 1.6rem;
        text-transform: uppercase;
        margin-left: 3px;
        top: 5px;
    }

    .home-image-cont .left .left-main-cont header h1{
        font-size: 3rem;
    }

    .home-image-cont .left{
        width: 100%;
    }

    .home-image-cont .right{
        width: 0%;
        height: 0%;
    }
    }
  
  


/* RECENT POST */
.recent_cont {
    padding: 40px 30px;
  }
  
  /* .recent_cont > main > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .recent_cont> main > ul>li{
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
      transition: all 0.3s ease-out;
  }
  
  .recent_cont> main > ul>li:hover {
      box-shadow: 0px 5px 25px rgba(0,0,0,0.3); 
      transform: translateY(-10px); 
  } */

.home_small-cont {
  padding: 40px 30px;
}

.home_small-cont main {
  display: flex;
  align-items: center;
}

.home_small-cont > main > ul {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  margin-left: 30px;
  /* justify-content: space-between; */
}
.home_small-cont > header {
  margin-bottom: 40px;
}

.home_small-cont > header h2 {
  font-size: 1.8rem;
}

.home_small-cont > main .show-more {
  padding: 10px;
  border-radius: 50%;
  background: #fff;
  margin-left: 30px;
  /* border: 1px solid var(--deep-blue); */
  box-shadow: 0px 2px 10px rgb(255, 255, 255); 
  background: var(--deep-blue);
  /* background: var(--pink); */
  /* background: var(--light-sky-blue);
  background: #fff; */
  cursor: pointer;
  transition: .3s ease;
}

.home_small-cont > main .show-more:hover {
  /* box-shadow: 0px 2px 10px rgb(211 219 224);  */
  transform: translateX(5px); 
}


.home_small-cont > main .show-more svg {
  width: 35px;
  height: 35px;
  /* fill: var(--deep-blue);
  fill: black;
  fill: var(--deep-blue-2); */
  fill: #fff;
}

.top h4:hover,
.top p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.right h4:hover,
.right p:hover{
    cursor: pointer;  
}






.upload {
  /* width: calc(25% - 4px); */
  border-radius: 12px;
  box-shadow: 0 4px 7px #fff;
  overflow: hidden;
  width: 400px;
  transition: all 0.3s ease-out;
}

.upload:hover {
  box-shadow: 0px 2px 10px rgb(211 219 224); 
  transform: translateY(-10px); 
} 

/* .upload header {
  height: 300px;
  background: url(note_cover.jpg);
  background-size: cover;
  cursor: pointer;
}  */

.upload header {
  cursor: pointer;
}

.upload header img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.upload header .subject,
.upload header .upload-type {
  border-radius: 8px;
  padding: 4px 12px;
  height: min-content;
  display: inline-block;
  background: var(--deep-blue);
  color: #fff;
  text-transform: uppercase;
  cursor: default;
  z-index: 1;
  position: absolute;
  top: 0;
}

.upload header .upload-type {
  /* right: 0; */
  background: var(--pink);
}


.upload footer {
  background: var(--light-sky-blue);
}
.upload footer > .top {
  padding: 8px 12px;
  font-size: 1.2rem;
  background: white;
}

.upload footer > .top h4 {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
}

.upload footer > .top p {
  font-size: 0.8rem;
  color: var(--deep-blue);
}

.upload footer > .bottom {
  display: flex;
  padding: 15px;
  align-items: center;
}

.upload footer > .bottom > .left {
  display: flex;
  width: 80%;
}

.upload footer > .bottom .left img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.upload footer > .bottom > .left > .right {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.upload footer > .bottom > .left > .right h4 {
  font-size: 1.1rem;
}

.upload footer > .bottom > .left > .right p {
  font-size: 0.7rem;
}


.upload footer > .bottom > .right  {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--pink);
}

.upload footer > .bottom > .right svg {
  width: 25px;
  height: 25px;
  fill: var(--pink);
}


.home_small-cont > footer {
  margin-top: 40px;
  display: flex;
}

.home_small-cont > footer ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.home_small-cont > footer ul li a {
  text-decoration: none;
}




.news_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

.news_cont .left {
  width: 40%;
  padding: 0 5% 0 10%;
}

.news_cont .right p:before {
    content: '';
    height: 100%;
    width: 8px;
    border-radius: 8px;
    background: var(--sky-blue);
    display: block;
    position: absolute;
    left: 0;
}

.news_cont .right p {
  padding-left: 25px;
  margin-left: 5px;
}

.news_cont .left img {
  width: 100%;
}

.news_cont > .right {
  width: 50%;
  padding: 0 10% 0 5%;
}

.news_cont > .right h2 {
  font-size: 5rem;
  color: var(--deep-blue);
  margin-bottom: 20px;
}













.footer_cont > main {
  /* height: 600px; */
}

.footer_cont > header svg {
  transform: scale(-1,1);
  width: 100vw;
  height: calc(100vw / 12);
  fill: var(--deep-blue-2);
}

.footer_cont > main {
  background: var(--deep-blue-2);
  display: flex;
  gap: 20px;
  padding: 20px 30px 100px 30px;
  align-items: center;
}

.footer_cont > main .left {
  width: 50%;
  padding: 0 60px 0 20px;
}

.footer_cont > main .left h2 {
  color: white;
  font-size: 4rem;
  margin-bottom: 40px;
}

.footer_cont > main .left p {
  color: var(--container-white);
  opacity: 80%;
  font-size: 1.2rem;
  font-weight: 200;
}


.footer_cont main .middle {
  width: 20%;
}

.footer_cont > main > .middle h4 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer_cont main .middle ul {
  list-style-type: none;
  margin-left: 10px;
}


.footer_cont main .middle ul li {
  margin-top: 10px;
}

.footer_cont main .middle ul li a:hover {
  color: var(--sky-blue);
}


.footer_cont main .middle ul li a {
  font-size: 1.2rem;
  color: var(--container-white);
  opacity: 80%;
  text-decoration: none;
  transition: .2s ease;
}








.footer_cont main .right {
  width: 30%;
  color: var(--container-white-low);
  display: flex;
  flex-direction: column;
}

.footer_cont main .right h4 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 15px;
}


.footer_cont main .right .middle {
  margin-bottom: 35px;
}

.footer_cont main .right .middle h5 {
  font-size: 1.5rem;
  color: var(--container-white);
  width: max-content;
  margin-top: 35px;
}

.footer_cont main .right .middle ul {
  display: flex;
  gap: 50px;
}

.footer_cont main .right .middle ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: .3s ease;
}

.footer_cont main .right .middle ul li:hover {
  transform: translateY(-7.5px);
}

.footer_cont main .right .middle ul li p {
  margin-top: 5px;
}

.footer_cont main .right .middle img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}



.footer_cont main .right .bottom h5 {
  font-size: 1.5rem;
  color: var(--container-white);
  width: max-content;
}

.footer_cont main .right .bottom ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
  margin-left: 25px;
  margin-top: 20px;
}

.footer_cont main .right .bottom ul li {
  cursor: pointer;
  transition: .3s ease;
}

.footer_cont main .right .bottom ul li:hover {
  transform: translateY(-5px);
}

.footer_cont main .right .bottom ul li svg {
  fill: var(--container-white);
  width: 30px;
  height: 30px;
}



























  
  /* styles for mobile screens */
  @media screen and (max-width: 767px) {
    ul.upload-list {
      flex-direction: column;
      align-items: center;
    }
  
    .recent_cont> main> ul> li {
      flex-basis: 100%;
      margin-bottom: 20px;
    }
  }
  
  
  
     
    /* Header Styles */ 
    /* header { 
      background-color: #347a32; 
      padding: 10px; 
      text-align: center; 
    } 
     
    header h1 { 
      margin: 0; 
      font-size: 36px; 
      color: white; 
    }  */
     
   
   /*news & updates section*/
   
   
    .btn { 
      padding: 10px 15px; 
      border-radius: 5px;
      color: var(--sky-blue); 
      text-decoration: none; 
      transition: all 0.3s ease-out; 
    } 
     
    .btn:hover { 
      background-color: var(--deep-blue);
      color: white;
    } 
     
    .back-to-top { 
      position: fixed; 
      bottom: 2px; 
      right: 2px;
      z-index: 9999;
      background-color: transparent;
      border-color: transparent;
    } 
    .back-to-top:hover { 
          background-color: #7db7e4;
    } 
     
     
    /* Footer Styles */ 
    .footer { 
      background-color: var(--sky-blue); 
      padding: 20px; 
      color: white; 
      text-align: center; 
    } 
     
    .footer ul { 
      margin: 0; 
      padding: 0; 
      list-style: none; 
      display: flex; 
      justify-content: center; 
      align-items: center; 
      flex-wrap: wrap; 
      margin-bottom: 20px; 
    } 
     
    .footer ul li { 
      margin-right: 15px; 
    } 
     
    .footer ul li:last-child { 
      margin-right: 0; 
    } 
     
    .footer ul li a { 
      color: white; 
      text-decoration: none; 
      transition: all 0.3s ease-out; 
    } 
     
    .footer ul li a:hover { 
      color: #347a32; 
    } 
     
    .footer p { 
      font-size: 14px; 
      line-height: 1.7; 
      margin-bottom: 0; 
    } 
     
    .footer a { 
      color: #c9c9c9; 
      text-decoration: none; 
      transition: all 0.3s ease-out; 
    } 
     
    .footer a:hover { 
      color: #347a32; 
    } 
     
    .footer i { 
      font-size: 24px; 
      color: #c9c9c9; 
      margin-right: 10px; 
    } 
     
    .footer i:hover { 
      color: #347a32; 
    } 
     
    @media screen and (max-width: 767px) { 
      .footer ul { 
        flex-direction: column; 
      } 
      .footer li { 
        margin: 0 0 10px 0; 
      } 
      .footer li:last-child { 
        margin: 0; 
      } 
    } 
   .text-center{
    background-color: #60a6dd;
   }

   /*login page*/
   .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.link-register-btn{
    color: var(--pink-red)
}
.link-register-btn:hover{
    color: var(--pink)
}
.header-h1{
    font-size: 6rem;
    color: var(--deep-blue-2);
}
@media(max-width:768px) {
    .header-h1{
        font-size: 3rem;
        text-align: center;
}
}
