/* GENERAL + SUBJECT */
.subject__cont {
    top: 9.5vh;
}

.subject__cont>header {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    justify-content: center;
}

.subject__cont>header>.top {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.info-box {
    padding: 20px;
    background: var(--light-sky-blue);
    background-color: #fff;
    /* margin-top: 40px; */
    border-radius: 12px;
    width: 15%;
    font-size: 1.2rem;
}

.info-box>div {
    margin-top: 10px;
}

.info-box>div:nth-child(1) {
    margin-top: 0 !important;
}

.info-box div p {
    display: inline-block;
}

.info-box div p:nth-child(2) {
    float: right;
}

.subject__cont header .bottom {
    width: 30%;
    background: #fff;
    justify-self: center;
    align-self: center;
    padding: 15px;
    border-radius: 12px;
    margin-top: 20px;
}








.subject__cont>main {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text {
    background: var(--deep-blue);
    color: #fff;
    padding: 10px 20px;
    border-radius: 12px;
    width: fit-content;
    /* text-transform: uppercase; */
    margin: 40px auto;
}

.subject__cont>main main {
    margin-top: 40px;
    padding-bottom: 40px;
}

.subjects {
    width: 100%;
}

.subjects ul {
    width: 100% !important;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}


.info_bar {
    bottom: 5px;
    right: 0;
    width: 80px;
    flex-direction: row;
}

.info_bar div {
    margin-right: 7.5px;
}


.info_bar div:nth-child(2) svg {
    width: 15px !important;
    height: 15px !important;
    top: 1px !important;
}


.info__icon {
    width: 14px !important;
    height: 14px !important;
    margin-right: 2px !important;
    fill: var(--light-black) !important;
}

.info_bar div p {
    font-size: 0.75rem;
    color: grey !important;
    display: block;
    height: min-content;
    top: 2px;
}

.subject footer .top {
    padding: 15px;
}

.subject footer>.bottom {
    padding: 15px;
    justify-content: flex-start;
}

.subject footer .bottom .left {
    /* width: 85% !important; */
}

.progress_cont p {
    font-size: 0.85rem;
}

.progress_cont p:nth-child(1) {
    color: black;
    margin-right: 10px;
}


.subject__cont>footer {
    padding: 40px;
}



.subject footer .bottom .left {
    width: min-content;
    /* width: 100%; */
}

.subject footer .bottom .left svg {
    fill: var(--paste-green);
    margin-right: 15px;
}

.subject footer .bottom .right p {
    color: var(--paste-green);
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .subject__cont {
        top: 5vh;
    }

    .header-text {
        font-size: 1.5rem;
    }

    .header-description {
        text-align: center;
    }

    .subject__cont>main {
        margin-top: 0;
    }

    .subject__cont>header>.top {
        gap: 15px;
    }


    .info-box {
        width: 45%;
        padding: 10px;
        font-size: 1rem
    }

    .subject__cont header .bottom {
        width: 94%;

    }

    .subjects ul {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0px;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        padding: 10px;
    }

    .upload {
        flex-basis: 49%;
        margin-bottom: 10px;
        border-radius: 8px;
    }

    .upload header img {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }

    .subject footer .top {
        padding: 5px;
    }

    .subject__cont>footer {
        padding: 10px;
        display: flex;
        justify-content: space-around;
    }

    .info_bar {
        gap: 0;
        width: min-content;
        bottom: 1px;
        right: 0;
    }

    .info__icon {
        width: 10px !important;
        height: 10px !important;
    }

    .info_bar div:nth-child(2) svg {
        width: 11px !important;
    }

    .progress_cont p:nth-child(1) {
        display: none;
    }

    .subject footer>.bottom {
        padding: 10px;
    }

    .progress_cont p {
        font-size: .6rem;
    }

    .subject footer .bottom .left svg {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
}