.subject__cont {
    top: 9.5vh;
}

.subject__cont > header {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    justify-content: center;
}

.subject__cont > header .top {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.subject__cont > header .top > div {
    padding: 20px;
    background: var(--light-sky-blue);
    background-color: #fff;
    /* margin-top: 40px; */
    border-radius: 12px;
    width: 15%;
    font-size: 1.2rem;
}

.subject__cont > header .top > div > div {
    margin-top: 10px;
}

.subject__cont > header > div div p {
    display: inline-block;
}

.subject__cont header .top > div div p:nth-child(2) {
    float: right;
}

.subject__cont header .bottom {
    width: 30%;
    background: #fff;
    justify-self: center;
    align-self: center;
    padding: 15px;
    border-radius: 12px;
    margin-top: 20px;
}





 


.subject__cont > main {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text {
    background: var(--deep-blue);
    color: #fff;
    padding: 10px 20px;
    border-radius: 12px;
    width: fit-content;
    /* text-transform: uppercase; */
    margin: 40px auto;
}

.subject__cont > main main {
    margin-top: 40px;
    padding-bottom: 40px;
}

.subjects ul {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.info_bar {
    bottom: 5px;
    right: 0;
    width: 80px;
}

.info_bar div {
    margin-right: 7.5px;
}


.info_bar div:nth-child(2) svg {
    width: 15px !important;
    height: 15px !important;
    top: 1px !important;
}


.info__icon {
    width: 14px !important;
    height: 14px !important;
    margin-right: 2px !important;
    fill: var(--light-black) !important;
}

.info_bar div p {
    font-size: 0.75rem;
    color: grey !important;
    display: block;
    height: min-content;
    top: 2px;
}

.subject footer .top {
    padding: 15px;
}

.subject footer > .bottom {
    padding: 15px;
}

.subject footer .bottom .left {
    /* width: 85% !important; */
}

.progress_cont p {
    font-size: 0.85rem;
}

.progress_cont p:nth-child(1) {
    color: black;
    margin-right: 10px;
}


.subject__cont > footer {
    padding: 40px;
}
